dbatools-startmigration-transcript.txt
dbatools-exceptions.txt
*TempPoint*
*.pssproj

# ignore the settings folder and files for VSCode
.vscode/*
*.psproj
dbatools.psprojs

# ignore the settings folder and files for Visual Studio
.vs/*

# VIM backup files
*~

# msbuild log file
msbuild.log

# Local constant file
tests/constants.local.ps1

