dbatools-startmigration-transcript.txt
dbatools-exceptions.txt
*TempPoint*
*.pssproj

# ignore the settings folder and files for VSCode
.vscode/*
*.psproj
dbatools.psprojs

# ignore library
bin/dbatools.dll
bin/dbatools.xml
bin/dbatools.pdb