# See http://www.appveyor.com/docs/appveyor-yml for many more options

build: false

# Set build info
environment: 
  environment: development
  version: 0.8.$(appveyor_build_number)
  
# Install prereqs
install:
  - cinst pester

# Set alternative clone folder
clone_folder: c:\github\dbatools

# Setup SQL Server
before_test:
  - ps: Write-Output "Setting up the local SQL Server environments"
  - ps: .\Tests\appveyor.sqlserver.ps1

test_script:
  - ps: Write-Output "Installing nuget and PSScriptAnalyzer"
  - ps: Install-PackageProvider NuGet -MinimumVersion '2.8.5.201' -Force | Out-Null
  - ps: Import-PackageProvider NuGet -MinimumVersion '2.8.5.201' -Force | Out-Null
  - ps: Install-Module -Name PSScriptAnalyzer -RequiredVersion 1.6.0 -Repository PSGallery -Force | Out-Null
  
  - ps: Write-Output "Test with native PS version"
  - ps: .\Tests\appveyor.pester.ps1
  
  - ps: Write-Output "Test with PS version 3"
  - ps: powershell.exe -version 3.0 -executionpolicy bypass -noprofile -file .\Tests\appveyor.pester.ps1

  - ps: Write-Output "Collecting and uploading results"
  - ps: .\Tests\appveyor.pester.ps1 -Finalize

#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))