# See http://www.appveyor.com/docs/appveyor-yml for many more options
image: Previous Visual Studio 2022
configuration: "Debug"

# skip PR builds when there's already a push build
skip_branch_with_pr: true

# skip builds on master branch (archival branch)
branches:
  except:
    - master

# skip tag commits entirely
skip_tags: true

skip_commits:
  files:
    - '**/*.md'
    - '.github/FUNDING.yml'
    - '.github/ISSUE_TEMPLATE/**'
    - '.github/PULL_REQUEST_TEMPLATE.md'
    - '.aider/**'
    - '.devcontainer/**'
    - '.vscode/**'
    - 'en-us/**'
  message: /\[skip ci\]/

build_script:
  - ps: Set-Service wuauserv -StartupType Manual #otherwise, choco command exits with code 1058

version: 2.1.{build}

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
  - C:\Program Files\WindowsPowerShell\Modules\PSScriptAnalyzer -> appveyor.yml
  - C:\Program Files\WindowsPowerShell\Modules\Pester -> appveyor.yml
  - C:\Program Files\WindowsPowerShell\Modules\dbatools.library -> .github/dbatools-library-version.json

#shallow_clone: true
clone_depth: 20

# Set build info
environment:
  environment: development
  version: 2.1.$(appveyor_build_number)
  appveyor_rdp_password: 2odCuiKmYiem

  matrix:
    - scenario: SINGLE
      main_instance: localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2019.ps1
    - scenario: MULTI
      main_instance: localhost\SQL2017,localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2017.ps1,\tests\appveyor.SQL2019.ps1
    - scenario: COPY
      main_instance: localhost\SQL2017,localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2017.ps1,\tests\appveyor.SQL2019.ps1
    - scenario: HADR
      main_instance: localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2019.ps1
    - scenario: RESTART
      main_instance: localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2019.ps1
    - scenario: Legacy1
      main_instance: localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2019.ps1
    - scenario: default
      main_instance: localhost\SQL2017,localhost\SQL2019
      setup_scripts: \tests\appveyor.SQL2017.ps1,\tests\appveyor.SQL2019.ps1

# Set alternative clone folder
clone_folder: c:\github\dbatools

before_test:
  # turn tests directory (at least) to CRLF, as it's faster to do this on the zipball rather than checking out the repo
  - cmd: pushd C:\github\dbatools\tests & unix2dos -q  *.ps1 & popd
  # don't clone -- for some reason it's just not installing the library
  # dbatools.library is now installed via centralized method in appveyor.prep.ps1
  # grab appveyor lab files and needed requirements for tests in CI
  - ps: .\Tests\appveyor.prep.ps1

  # Setting up the local SQL Server environments
  - ps: .\Tests\appveyor.sqlserver.ps1
  #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

test_script:
   # Test with native PS version
  - ps: .\Tests\appveyor.pester.ps1

  # Collecting results
  - ps: .\Tests\appveyor.pester.ps1 -Finalize

after_test:
  - ps: .\Tests\appveyor.post.ps1

#on_finish:

#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
